<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->

<div class="note-container">
    <mat-expansion-panel class='Take-a-note'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Take a note
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="note-form">
            <mat-form-field>
                <input [(ngModel)]='note.title' matInput name="title" matInput placeholder="Title">
            </mat-form-field>

            <mat-form-field>
                <textarea [(ngModel)]='note.text' matInput name="text" matInput placeholder="Text"></textarea>
            </mat-form-field>


            <button mat-fab color="primary" class='add-button' (click)='addNote()'>Done</button>
        </div>


    </mat-expansion-panel>

    <!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->

    <section class="cards">
        <mat-card class="note-card" *ngFor='let note of list'>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{note.title}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    {{note.text}}
                </p>
            </mat-card-content>

        </mat-card>
    </section>
</div>